Source: ngcp-sems
Section: net
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Homepage: https://www.sipwise.com/
Standards-Version: 4.5.1
Build-Depends:
 debhelper-compat (= 13),
 flite-dev,
 libcurl4-openssl-dev | libcurl4-gnutls-dev,
 libev-dev,
 libevent-dev (>= 2.1.12),
 libhiredis-dev,
 libmysql++-dev,
 libopus-dev,
 libpcre3-dev,
 libspandsp-dev,
 libspeex-dev,
 libssl-dev,
 libxml2-dev,
 openssl,
 python3,
 python3-dev,

Package: ngcp-sems
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 adduser,
 ngcp-prompts,
 ngcp-system-tools,
 python3,
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 sems,
Replaces:
 sems,
Description: SIP Express Media Server, very fast and flexible SIP media server
 SEMS, the SIP Express Media Server, is a free, high performance, extensible media
 server for SIP (RFC3261) based VoIP  services. It features voicemail, conferencing,
 announcements, pre-call announcements, prepaid service, calling card service etc.

Package: ngcp-sems-libsems1-dev
Architecture: any
Section: libdevel
Conflicts:
 libsems-dev,
 ngcp-libsems-dev,
Provides:
 libsems-dev,
Replaces:
 libsems-dev,
 ngcp-libsems-dev,
Depends:
 ${misc:Depends},
Description: development files for SIP Express Media Server
 SEMS, the SIP Express Media Server, is a free, high performance,
 extensible media server for SIP (RFC3261) based VoIP services.
 It features voicemail, conferencing, announcements, pre-call
 announcements, prepaid service, calling card service etc.
 .
 This package contains the files needed to compile programs
 against sems.
