Source: ngcp-sems
Section: net
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8~),
               flite-dev,
               libcurl4-openssl-dev | libcurl4-gnutls-dev,
               libev-dev,
               libevent-dev (>= 2.0.0),
               libhiredis-dev,
               libmysql++-dev,
               libpcre3-dev,
               libspandsp-dev,
               libspeex-dev,
               libssl-dev,
               libxml2-dev,
               openssl,
               python-dev,
               python-sip-dev
Standards-Version: 3.9.6

Package: ngcp-sems
Architecture: any
Pre-Depends: ngcp-system-tools,
             ${misc:Pre-Depends}
Depends: adduser,
         ngcp-prompts,
         python,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: sems
Replaces: sems
Description: SIP Express Media Server, very fast and flexible SIP media server
 SEMS, the SIP Express Media Server, is a free, high performance, extensible media
 server for SIP (RFC3261) based VoIP  services. It features voicemail, conferencing,
 announcements, pre-call announcements, prepaid service, calling card service etc.

Package: ngcp-sems-dbg
Architecture: any
Depends: ngcp-sems (= ${binary:Version})
Conflicts: sems-dbg
Replaces: sems-dbg
Description: Debugging symbols for Sems SIP Express Media Server
 This is a HA enabled sems version packaged for Sipwise's NGCP platforms.
 SEMS, the SIP Express Media Server, is a free, high performance, extensible media
 server for SIP (RFC3261) based VoIP  services. It features voicemail, conferencing,
 announcements, pre-call announcements, prepaid service, calling card service etc.

Package: ngcp-sems-libsems1-dev
Architecture: any
Section: libdevel
Conflicts: libsems-dev,
           ngcp-libsems-dev
Provides: libsems-dev
Replaces: libsems-dev,
          ngcp-libsems-dev
Depends: ${misc:Depends}
Description: development files for SIP Express Media Server
 SEMS, the SIP Express Media Server, is a free, high performance,
 extensible media server for SIP (RFC3261) based VoIP services.
 It features voicemail, conferencing, announcements, pre-call
 announcements, prepaid service, calling card service etc.
 .
 This package contains the files needed to compile programs
 against sems.
