[Unit]
Description=NGCP SIP Express Media Server (SEMS)
After=mariadb.service
After=remote-fs.target
After=network-online.target
Requires=network-online.target
Wants=remote-fs.target
Wants=mariadb.service

[Service]
Type=notify
User=sems
Group=sems
Environment=LD_LIBRARY_PATH=/usr/lib/sems-pbx
PassEnvironment=LD_LIBRARY_PATH
PIDFile=/run/ngcp-sems/ngcp-sems.pid
Restart=always
ExecStart=/usr/sbin/ngcp-sems -u sems -g sems -P /run/ngcp-sems/ngcp-sems.pid -f /etc/ngcp-sems/sems.conf
KillSignal=SIGTERM
SuccessExitStatus=SIGKILL
TimeoutStopSec=10
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
Alias=sems.service
